/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
@keyframes slide {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 16.8%;
    }
}

body {
    /*background-image: url("../sources/14285.jpg");*/
    background-color:cornflowerblue;
    background-repeat:no-repeat;

    background-size:cover;

}
nav {
    opacity: 0.6;
}

#table{
    color:white;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    animation: slide 1s;
}
.form{
    margin:auto;
    padding-top:50px;
    display:flex;
    flex-direction:column;
}*/
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
li a:hover,
a:active {
    font-size: 20px;
    transition-duration: 0.1s;
}

li a:visited {
    background-color: #82c3a6;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
